@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
    margin: 0;
}

#menu {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
}

#menu a {
    padding: 0 0.5rem;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-family: "Lato", sans-serif;
}

#menu a img {
    width: 1.2rem;
    height: 1.2rem;
}

#bg-video {
    position: fixed;
    top: 0;
    z-index: -1;
    min-height: 100vh;
    min-width: 100%;
}

video[poster] {
    object-fit: cover;
}

header {
    /*padding: 10% 5rem 0 10%;*/
    height: 100vh;
    overflow: hidden;
}

header h1 {
    margin-top: 30vh;
    margin-left: 10%;
}

#arrow {
    position: absolute;
    bottom: 0;
    left: calc(50% - 80px);
}

footer {
    text-align: center;
    clear: both;
    padding: 2rem;
}

p, ul {
    font-family: "Merriweather", serif;
    font-weight: lighter;
    font-size: small;
}

q {
    font-family: "Lato", sans-serif;
    font-size: xxx-large;
}

.quote-author {
    text-align: right;
    margin-right: 2rem;
}
/*Header part 1 */
.lighter-font {
    color: #FFFFFF;
    font-family: "lato", sans-serif;
    font-weight: 100;
    font-size: xxx-large;
}


/*Header part 2 */
.italic-bold-font {
    color: #FFFFFF;
    font-family: "lato", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: xxx-large;
}

.wrapper {
    display: grid;
}

.infobox {
    width: 100%;
    padding-bottom: 7rem;
    padding-top: 5rem;
}

.infobox.navy {
    background-color: #1A232C;
    color: #FFFFFF;
}

.infobox.white {
    background-color: #FEFFFE;
}

.infobox.top {
    margin-bottom: 100vh;
}

.infobox.middle {
    box-shadow: 2rem 2rem rgba(26, 35, 44, 0.5);
}

.infobox.bottom {
    margin-bottom: 5vh;
}

.column-1 {
    display: block;
    float: left;
    width: 30%;
    max-width: 30%;
    background-color: inherit;
    color: inherit;
    padding-left: 10%;
    padding-top: 5rem;
}

.column-2 {
    display: block;
    float: left;
    width: 30%;
    max-width: 30%;
    background-color: inherit;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 5rem;
}

h2, h3 {
    font-family: "Lato", sans-serif;
    font-weight: lighter;
}

#header-1 {
    font-family: "Lato", sans-serif;
    font-weight: lighter;
    font-size: xx-large;
}

.image-left {
    display: block;
    float: left;
    max-width: 40%;
    margin-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 4rem;
}

.separator {
    display: block;
    float: left;
    width: 1rem;
    margin: 5rem;
    padding-top: 2rem;
    height: 7rem;
    border-radius: 0.1rem;
}

.separator.green {
    background-color: #40531B;
}

.separator.orange {
    background-color: #E55812;
}

.separator.blue {
    background-color: rgba(20, 134, 170, 1);
}

.top-margin-7 {
    margin-top: 7rem;
}

@media screen and (max-width:728px) {
    .separator {
        display: none;
    }
}

/*Text highlighters */
.highlight.green {
    background: linear-gradient(180deg, rgba(255,255,255,0) 70%,rgba(64, 83, 27, 0.4) 30%);
    display: inline;
}

.highlight.orange {
    background: linear-gradient(180deg, rgba(255,255,255,0) 70%, rgba(255, 107, 0, 0.4) 30%);
    display: inline;
}

.highlight.blue {
    background: linear-gradient(180deg, rgba(255,255,255,0) 70%,rgba(20, 134, 170, 0.4) 30%);
    display: inline;
}

.clean-link {
    text-decoration: none;
    color: inherit;
}

/* Portfolio */

.portfolio-hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}

.portfolio-hero.nature {
    background-image: url('../images/1920/DJI_0900.JPG.webp');
}

.portfolio-hero.event {
    background-image: url('../images/1920/DJI_0661.JPG.webp');
}

.portfolio-hero.property {
    background-image: url('../images/1920/DJI_0152.JPG.webp');
}

.portfolio-hero h2 {
    margin: 0;
    color: white;
    font-size: 100px;
    font-weight: 100;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

.portfolio-hero.nature h2 {
    top: 52vh;
    left: 50%;
}

.portfolio-hero.event h2 {
    bottom: 10vh;
    right: 5%;
}

.portfolio-hero.property h2 {
    top: 10vh;
    left: 15%;
}

.image-series {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: stretch;
    justify-items: stretch;
}

/* Three different styles of displaying image series */
.image-series.masonry-1 img:nth-child(1), .image-series.masonry-1 img:nth-child(4){
    grid-column: span 2;
}

.image-series.masonry-1 img:nth-child(2), .image-series.masonry-1 img:nth-child(3){
    grid-column: span 3;
}

.image-series.masonry-2 img:nth-child(1){
    grid-column: span 5;
}

.image-series.masonry-2 img:nth-child(2){
    grid-column: span 3;
}

.image-series.masonry-2 img:nth-child(3){
    grid-column: span 2;
}

.image-series.masonry-3 img:nth-child(1){
    grid-column: span 3;
}

.image-series.masonry-3 img:nth-child(2){
    grid-column: span 2;
}

.image-series.masonry-3 img:nth-child(3){
    grid-column: span 5;
}

.image-series__image {
    object-fit: cover;
    max-height: 300px;
    width: 100%;
    cursor: pointer;
}

.image-series__see-more {
    cursor: pointer;
}

.portfolio-video {
    width: 100%;
}

/* Lightbox */

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1A232C;
    display: none;
    overflow: auto;
    z-index: 2000;
}

.lightbox__content {
    width: 90%;
    height: calc(100vh - 80px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
}

.lightbox__header {
    display: flex;
    color: white;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.lightbox__image-count {
    display: block;
}

.lightbox__slides {
    position: relative;
}

.lightbox__slide {
    display: none;
    height: calc(100vh - 205px);
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
}

.lightbox__image {
    object-fit: scale-down;
    display: block;
    max-width: 100%;
    max-height: calc(100vh - 235px);
}

.lightbox__slide--active {
    display: flex;
}

.lightbox__thumbs {
    height: 100px;
    width: 100%;
    display: flex;
    gap: 5px;
    user-select: none;
    position: relative;
    transition: all 0.35s ease-in-out;
}

.lightbox__thumb {
    height: 100px;
    opacity: 0.2;
    cursor: pointer;
    transition: all 0.35s ease-in-out;
}

.lightbox__thumb--active {
    opacity: 1;
}

.lightbox__navigation {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -100px;
}

.lightbox__btn {
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 1;
    cursor: pointer;
    user-select: none;
}

.lightbox__btn:hover {
    color: rgb(170, 170, 170);
}

.lightbox__btn--previous-image {
    left: 15px;
}

.lightbox__btn--next-image {
    right: 15px;
}

.lightbox__btn--close {
    top: 5px;
    right: 15px;
}

.lightbox--show {
    display: block;
}

.lightbox__image-description {
    height: 30px;
    margin: 10px auto;
    color: white;
    text-align: center;
    font-size: 0.8em;
}

.lightbox__progress-bar-container {
    width: 100%;
    height: 5px;
}

.lightbox__progress-bar {
    height: 5px;
    background: #E55812;
    transition: all 0.35s ease-in-out;
}

@media screen and (max-width: 576px) {
    .lightbox__content {
        width: 100%;
    }
}

input[type=text] {
    width: 30%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    background-color: #082434;
    color: rgb(255, 255, 255);
    position: relative;
    left: 2%;
  }
textarea[type=text]{
    width: 40%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    background-color: #031c2b;
    color: rgb(255, 255, 255);
    position: relative;
    left: 2%;
}

#contact_body{
    background-color: #151d24;
    height: 100%

}

#contact_header{
    height: 50px;
    font-size: xx-large;
    text-align: left;
    position: relative;
    left: 1%;
    border: 20px solid #151d24;
}

#contact_button {
    background-color: #082434;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    left: 2%;
    position: relative;
    transition-duration: 0.4s;
  }
#contact_button:hover {
    background-color: #1c373b;
    color: white;
  }
#your_message{
    width: 40%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    background-color: #031c2b;
    color: rgb(255, 255, 255);
    position: relative;
    left: 2%;
}
p#droner {
  position: absolute;
  width: 757px;
  height: 255px;
  right: 10px;
  top: 703px;

  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 75px;
  line-height: 150px;
  text-align: center;

  color: #FFFFFF;
}
