body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    width: 75%;
    line-height: 2;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid grey;
    column-span: all;
}

p {
    text-align: justify;
}

blockquote {
    font-style: italic;
    font-size: 1.1rem;
}

blockquote:before, blockquote:after {
    font-family: "Times New Roman", serif;
    content: "“";
    position: absolute;
    margin-left: -3rem;
    margin-top: -1.25rem;
    font-size: 5rem;
    color: #7777;
}

blockquote:after {
    content: "”";
    position: unset;
    margin-left: unset;
    margin-right: -2rem;
    float: right;
}


@media screen and (min-width: 60rem) {
    .content {
        column-count: 2;
    }
}

section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

li li {
    list-style-type: lower-alpha;
}

time {
    font-style: italic;
}

li {
    margin-bottom: 20px;
    margin-top: 10px;
}
